langchain
langchain-core
langchain-community
pypdf
pymupdf
langchain-text-splitters
sentence-transformers
chromadb
langchain-groq
python-dotenv
fastapi
fastapi[standard]
uvicorn
unstructured
markdown
python-jose
google-auth